<div class="container" style="padding-left: 0; padding-right: 0;">
  <div class="page-header">
    <h1 class="center">Paper Design</h1>
  </div>
</div>

<div class="container-fluid paper-container">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 paper">

        <div class="row" style="padding-left: 20px; padding-right: 20px;">
          <h2>Personal Goals</h2>
          <ul class="list-group">
            <li class="list-group-item">Encourage people more</li>
            <li class="list-group-item">Be more bold</li>
            <li class="list-group-item">Get better at chess</li>
          </ul>
        </div>

        <div class="row" style="padding-left: 20px; padding-right: 20px;">
          <h2>Professional Goals</h2>
          <ul class="list-group">
            <li class="list-group-item">Generate $50K in Product Sales</li>
            <li class="list-group-item">Focus on stacking bricks</li>
            <li class="list-group-item">Launch a course</li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</div>
