<%- if controller_name != 'sessions' %>
    <mark><%= link_to "Already registered? Sign in here", new_session_path(resource_name) %></mark><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <mark><%= link_to "New to Awesome App? Sign up here!", new_registration_path(resource_name)  %></mark><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
