<%= form_for(@credit_card, html: {class: "form-horizontal", role: "form"}) do |f| %>
    <% if @credit_card.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4><%= pluralize(@credit_card.errors.count, "error") %> prohibited this credit_card from being saved:</h4>

          <ul>
            <% @credit_card.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name_on_card, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :name_on_card, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :card_number, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :card_number, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :expiration_month, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= select_month @credit_card.exp_month, {add_month_numbers: true}, {name: 'credit_card[exp_month]', id: "expiration_month", class: "form-control"} %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :expiration_year, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= select_year @credit_card.exp_year, {start_year: Date.today.year, end_year: Date.today.year+7}, {name: 'credit_card[exp_year]', id: "expiration_year", class: "form-control"} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label 'Security code', class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :cvc, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
<% end %>
