<div class="page-header">
  <%= link_to new_credit_card_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Card
  <% end %>
  <h1>Available Credit cards</h1>
</div>

<% if @credit_cards.empty? %>
    <h3>No credit cards on file.</h3>
<% else %>

    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Name on card</th>
          <th>Card number</th>
          <th>Expiration</th>
          <th>Card type</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <%= content_tag_for(:tr, @credit_cards) do |credit_card| %>
            <td><%= credit_card.name_on_card %></td>
            <td><%= card_mask(credit_card) %></td>
            <td><%= expiration_date(credit_card) %></td>
            <td><i class="fa fa-2x <%= card_icon(credit_card) %>"></i></td>
            <td>
              <%= link_to credit_card, method: :delete, data: {confirm: 'Are you sure want to delete this credit card?'}, class: 'btn btn-xs btn-danger' do %>
                <i class="fa fa-remove"></i>
              <% end %>
            </td>
        <% end %>
        </tbody>
      </table>
    </div>

<% end %>


