<div class="container" style="padding-top: 20px;">

  <div class="row">
    <div class="col-lg-6 col-md-6 col-md-offset-3">

      <h2 style="text-align: center"><i class="fa fa-credit-card" style="color: #007dff"></i> New Credit Card</h2>

      <div class="panel panel-default">
        <div class="panel-body" style="padding-top: 35px;">

          <%= render 'form' %>

        </div>
      </div>

    </div>

  </div>
</div>
