<div class="page-header">
  <%= link_to credit_cards_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_credit_card_path(@credit_card), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show credit_card</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name on card:</dt>
  <dd><%= @credit_card.name_on_card %></dd>

  <dt>Card number:</dt>
  <dd><%= @credit_card.card_number %></dd>

  <dt>Expiration month:</dt>
  <dd><%= @credit_card.expiration_month %></dd>

  <dt>Expiration year:</dt>
  <dd><%= @credit_card.expiration_year %></dd>

  <dt>Cvv:</dt>
  <dd><%= @credit_card.cvv %></dd>

  <dt>Zip code:</dt>
  <dd><%= @credit_card.zip_code %></dd>

  <dt>Card type:</dt>
  <dd><%= @credit_card.card_type %></dd>

  <dt>User:</dt>
  <dd><%= @credit_card.user %></dd>

</dl>
