<div class="container" style="padding-top: 20px;">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-md-offset-4">
      <h2 style="text-align: center"><i class="fa fa-rocket" style="color: #007dff"></i> Change your password</h2>

      <div class="panel panel-default">
        <div class="panel-body" style="padding-top: 35px;">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, class: 'form'}) do |f| %>
              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>

              <div class="form-group">
                <%= f.label :password, "New password" %><br/>
                <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control input-lg" %>
                <% if @minimum_password_length %>
                    <p class="help-block">(<%= @minimum_password_length %> characters minimum)</p>
                <% end %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, "Confirm new password" %><br/>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-lg" %>
              </div>

              <div class="actions">
                <%= f.submit "Change my password", class: 'btn btn-success btn-lg' %>
              </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
