<div class="container" style="padding-top: 20px;">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-md-offset-4">
      <h2 style="text-align: center"><i class="fa fa-rocket" style="color: #007dff"></i> Forgot your password?</h2>

      <div class="panel panel-default">
        <div class="panel-body" style="padding-top: 35px;">

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: 'form'}) do |f| %>
              <%= devise_error_messages! %>

              <div class="form-group">
                <div>
                  <%= f.email_field :email, class: "form-control input-lg", placeholder: "email" %>
                </div>
              </div>

              <div class="actions">
                <%= f.submit "Send reset password instructions", class: 'btn btn-success btn-lg' %>
              </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
