<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SAAS Starter</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <div class="navbar-form navbar-right">

        <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, :method => :delete do %>
                <button class="btn btn-success">Sign Out</button>
            <% end %>
            <%= link_to credit_cards_path do %>
                <button class="btn btn-default">Payments</button>
            <% end %>
            <% if current_user.admin? %>
                <%= link_to admin_panel_path do %>
                    <button class="btn btn-success">Admin</button>
                <% end %>
            <% end %>
        <% else %>
            <%= link_to new_user_registration_path do %>
                <button class="btn btn-success">Sign Up</button>
            <% end %>
            <%= link_to new_user_session_path do %>
                <button class="btn btn-success">Sign In</button>
            <% end %>
        <% end %>

      </div>
    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>
