<div class="container-fluid" style="padding-left: 0; padding-right: 0;">
  <div class="jumbotron home-jumbo">
    <div class="container">
      <h1>Ship It Yesterday.</h1>

      <h3>Time is money, and the clock is ticking.</h3>

      <p class="call-to-action">
        <a class="btn btn-success btn-lg" href="/designs/paper" role="button">Learn more &raquo;</a>
      </p>
    </div>
  </div>

  <div class="container">
    <footer>
      <p>&copy; 2016 Nimble Labs LLC</p>
    </footer>
  </div>
</div>
