<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Share Goal Tracker!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% if Rails.env.production? %>
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-89910537-1', 'auto');
          ga('send', 'pageview');

      </script>
  <% end %>
</head>
<body>

<div class="container" style="padding-left: 0; padding-right: 0;">
  <div class="page-header">
    <h1 class="center">Help Your Friends Achieve their Goals</h1>
  </div>
</div>

<div class="container-fluid paper-container">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 paper center" style="height: 200px;">

        <%= link_to facebook_share_link, target: '_blank', class: 'btn btn-lg btn-primary-outline', style: 'margin-top: 40px; font-size: 1.5em;' do %>
            <span class="fa fa-facebook"></span> Share on Facebook
        <% end %>

        <%= link_to twitter_share_link, class: 'btn btn-lg btn-primary-outline', style: 'margin-top: 40px;; font-size: 1.5em;' do %>
            <span class="fa fa-twitter"></span> Share on Twitter
        <% end %>

        <br>
        <br>

        <%= link_to 'Start Tracking Your Goals', '/' %>

      </div>
    </div>
  </div>

</div>

</body>
</html>
