<div class="container" style="padding-top: 20px;">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-md-offset-4">

      <h2 style="text-align: center"><i class="fa fa-rocket" style="color: #007dff"></i> Sign In</h2>

      <br>
      <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
              <div class="text-center">
                <%= link_to user_omniauth_authorize_path(provider),
                            class: "btn btn-primary btn-lg", style: "width: 100%;" do %>
                    <i class="fa fa-facebook"></i>  Sign in with Facebook
                <% end -%>
                <h2>or</h2>
              </div>

          <% end -%>
      <% end -%>


      <div class="panel panel-default">
        <div class="panel-body" style="padding-top: 35px;">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
              <div class="form-group">
                <div class="col-sm-12">
                  <%= f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: "email" %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: "password" %>
                </div>
              </div>
              <% if devise_mapping.rememberable? %>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                      <%= link_to "Forgot your password?", new_password_path(resource_name), class: "pull-right" %>
                    </div>
                  </div>
              <% end %>
              <div class="form-group">
                <div class="col-sm-12">
                  <%= f.submit "Sign in", class: 'btn btn-success btn-lg', style: "width: 100%;" %>
                </div>
              </div>
              <hr>
              <div class="form-group" style="text-align: center;">
                <div class="col-sm-12">
                  <%= render "devise/shared/links" %>
                </div>
              </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
