@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  src: font-url('SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: lighter;
  font-style: normal;
  src: font-url('SourceSansPro-ExtraLight.ttf');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: bold;
  font-style: normal;
  src: font-url('SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: font-url('Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: lighter;
  font-style: normal;
  src: font-url('Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  src: font-url('Montserrat-Bold.ttf');
}

html {
  font-family: 'Source Code Pro';
  font-style: normal;
  height: 100%;
}

body {
  padding-top: 50px;
  height: 100%;
}

p {
  font-size: 16px;
}

h1, h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  color: #555555
}

.center {
  text-align: center;
}
