@import "bootstrap";
@import "font-awesome";
@import "all";

.paper-container {
  height: 100%;
  background-color: #f8f8f8;
}

.paper {
  height: 100vh;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
