// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-jumbo {
  background: radial-gradient(circle at center, #03A9F4 0%, #007dff 40%);
  background-color: #007dff;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  height: 450px;
  padding-top: 100px;
  border-radius: 0 !important;
}

.call-to-action {
  padding-top: 30px;
}
