<div class="container">
  <div class="page-header">
    <h1>Users</h1>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>email</th>
        <th>role</th>
        <th>sign in count</th>
        <th>last sign in</th>
        <th>created</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <%= content_tag_for(:tr, @users) do |user| %>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><%= user.sign_in_count %></td>
          <td><%= user.last_sign_in_at %></td>
          <td><%= user.created_at %></td>
          <td>
            <%= link_to test_push_message_path(user), class: 'btn btn-default' do %>
                <span class="glyphicon glyphicon-list-alt"></span>
                Test Push
            <% end %>
          </td>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

